pristine/*
!pristine/.gitkeep

cache/*
!cache/**/
!cache/**/.gitkeep

build/
temp/

*.bin
*.BIN
*.cue
*.CUE
*.img
*.iso
*.ISO
*.ccd
*.sub
*.toc
*.mds
*.mdf
*.nrg
*.chd
*.ecm
*.dec
*.new
*.pristine
*.gz
*.gzip

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

_site/

.DS_Store
Thumbs.db
*.lnk
*.swp
*~
.idea/
.vscode/
*.code-workspace

*.bin.bak
